.imageWrapper {
  cursor: pointer;
}
.imageWrapper:hover .backDrop {
  display: flex;
  align-items: center;
  justify-content: center;
}
.backDrop {
  display: none;
}
.comment {
  box-shadow: 0 0 5px gray !important;
  margin-bottom: 1vh;
}
.commentHeader {
  padding-bottom: 0;
}
.avatar {
  width: 1.8vw;
}
.nationalFlag {
  width: 1.3vw;
}
