.hotSpot {
  box-sizing: content-box;

  background-image: none;
}
.iconHotSpot {
  width: 40px;
  height: 40px;
  display: flex;
}
.hotSpot > img {
  width: 100%;
}
.hotSpot:hover > span {
  visibility: visible;
}
.hotSpot > span {
  position: absolute;
  bottom: 55px;
  left: 0;

  border-radius: 6px;
  padding: 5px 10px;
  min-height: 30px;
  min-width: 200px;
  max-width: 400px;
  word-wrap: break-word;
  background-color: white;
  visibility: hidden;
  box-shadow: 0 0 10px #333;
}
.hotSpot > span::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  bottom: -18px;
  left: 10px;
}

.activatedHotSpot {
  border-radius: 50%;
  outline: 5px solid orangered;
}
.activatedHotSpot > span {
  visibility: visible;
}

.fontHotSpot {
  width: auto;
  height: auto;
}

.fontTag {
  margin: 0;
  min-width: 35px;
  min-height: 15px;
  padding: 5px 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}
