.hotSpot {
  box-sizing: content-box;

  background-image: none;
}
.iconHotSpot {
  padding: 5px;
  width: auto !important;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.hotSpot > img {
  width: 40px;
}
.tag {
  margin-top: 10%;
  white-space: nowrap;
  color: white !important;
}
.hotSpot:hover > span {
  visibility: visible;
}
.hotSpot > span {
  position: absolute;
  bottom: 60px;
  left: 0;

  border-radius: 6px;
  padding: 5px 10px;
  min-height: 30px;
  min-width: 200px;
  max-width: 600px;
  word-wrap: break-word;
  background-color: white;
  visibility: hidden;
  box-shadow: 0 0 10px #333;
}
.hotSpot > span::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  bottom: -18px;
  left: 10px;
}

.activatedHotSpot {
  outline: 5px solid orangered;
}
.activatedHotSpot > span {
  visibility: visible;
}

.fontHotSpot {
  width: auto;
  height: auto;
}

.fontTag {
  margin: 0;
  min-width: 35px;
  min-height: 15px;
  padding: 5px 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}
