.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #dee1e7;

  display: grid;
  grid-template-columns: calc(100vw - 30px);
  grid-template-rows: calc(100vh - 30px);
  justify-content: center;
  align-content: center;
}

.container {
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px !important;
  background-color: white;
  
  display: grid !important;
  grid-template-columns: 10% 90%;
  grid-template-rows: 10% 90%;
}
.container > div {
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
}
.border {
  border: 1px solid #DEE1E7;
}
.borderLeft {
  border-left: 1px solid #DEE1E7;
}
.borderRight {
  border-right: 1px solid #DEE1E7;
}
.borderTop {
  border-top: 1px solid #DEE1E7;
}
.borderBottom {
  border-bottom: 1px solid #DEE1E7;
}
