.container {
  grid-template-columns: 8vw calc(100% - 8vw) !important;
  grid-template-rows: 5vw calc(100% - 5vw) !important;
}
.contentLayout {
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: 7% 93%;
  gap: 10px;
  grid-template-areas:
    'tools tools'
    'canvas properties';
}
